exp_name: vae_wan # Experiment names
seed: 1234 # Seed value
debug: false
train: true

save_dir: ./outputs
resume_ckpt: null
test_ckpt: "${dirs.outputs}/vae_z4_step=300000.ckpt"
test_setting:
    render: true
    simple: true
    recover_dim: 263
    HumanML3D:
        compare_folders:
            - "${dirs.raw_data}/HumanML3D/animations"
        compare_names:
            - "Ground Truth"
val_repeat: 1

logger:
    wandb:
        wandb_key: "${wandb_info.key}"
        project: "${wandb_info.project}"
        entity: "${wandb_info.entity}"

trainer: # lightning trainer
    max_steps: 300000
    accelerator: gpu
    devices: [0]
    log_every_n_steps: 50
validation:
    validation_steps: 1000
    test_steps: 10000
    save_every_n_steps: 10000
    save_top_k: 100
metrics:
    dim: 263
    t2m:
        evaluate_text: false
        metric_mean_path: "${dirs.deps}/t2m/meta/mean.npy"
        metric_std_path: "${dirs.deps}/t2m/meta/std.npy"
        moveencoder:
            target: metrics.tools.t2m_evaluator.MovementConvEncoder
            ckpt: ${dirs.deps}/t2m/humanml3d/movement_encoder.pt
            params:
                input_size: 259
                hidden_size: 512
                output_size: 512
        motionencoder:
            target: metrics.tools.t2m_evaluator.MotionEncoderBiGRUCo
            ckpt: ${dirs.deps}/t2m/humanml3d/motion_encoder.pt
            params:
                input_size: 512
                hidden_size: 1024
                output_size: 512

data:
    target: datasets.humanml3d.HumanML3DDataset
    collate_fn: datasets.humanml3d.collate_fn
    train_bs: 256
    val_bs: 64
    test_bs: 16
    num_workers: 8
    train_meta_paths:
        - ${dirs.raw_data}/HumanML3D/train.txt
    val_meta_paths:
        - ${dirs.raw_data}/HumanML3D/val.txt
        # - ${dirs.raw_data}/HumanML3D/test.txt
    test_meta_paths:
        - ${dirs.raw_data}/HumanML3D/test_min.txt
    feature_path: "new_joint_vecs"
    token_path: "TOKENS_20251030_085836_vae_wan_z4"
    text_path: "texts"
    min_length: 64
    max_length: 200
    window_length: 64

model:
    target: models.vae_wan.VAEWanModel
    ema_decay: 0.99
    params:
        input_dim: 263
        z_dim: 4
        mean_path: "${dirs.raw_data}/HumanML3D/Mean.npy"
        std_path: "${dirs.raw_data}/HumanML3D/Std.npy"
        vel_window: [4, 67]

optimizer:
    target: AdamW
    params:
        lr: 5e-4
        betas: [0.9, 0.99]
        weight_decay: 0.0
        eps: 1e-8

# lr_scheduler:
#     target: diffusers.optimization.get_constant_schedule_with_warmup
#     params:
#         num_warmup_steps: 1000

lr_scheduler:
    target: CosineAnnealingLR
    params:
        T_max: 1000
        eta_min: 1e-6
